* {
    

}

.container {
    display: grid;
    justify-content: center;
}

.cats img {
    width: 10rem;
    height: 10rem;
    object-fit: cover ;

}

    
@media screen and (max-width: 480 px) {
    
}

@media screen and (min-width: 481px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

}
